/* add your CSS here */
body {
  text-align: justify;
}
#outbox {
  width: 300px;
  border: 1px solid #D3D3D3;
  box-shadow: 5pt 5pt 2pt 0pt #DCDCDC;
  padding: 10px;
  margin: 10px auto;
  display: block;
  margin: 10px auto;
  background-color: #FFA07A;
}

#innerbox {
  width:284px;
  border: 1px solid #DCDCDC;
  padding-right: 8px;
  padding-left: 8px;
}

#innerbox span {
  font-weight: bold;
}
#facts {
  font-style: italic;
}

#outbox img {
  width: 300px;
  padding-bottom: 8px;
}
ul {
  list-style: none;
  padding: 0pt;
  margin: 0pt;
}
